[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ovmarschen
[access "refs/for/refs/*"]
	read = group user/ovmarschen
	push = group user/ovmarschen
	label-Code-Review = -2..+2 group user/ovmarschen
	label-Verified = -1..+1 group user/ovmarschen
	rebase = group user/ovmarschen
	removeReviewer = group user/ovmarschen
	submit = group user/ovmarschen
[access "refs/heads/*"]
	read = group user/ovmarschen
	create = group user/ovmarschen
	push = +force group user/ovmarschen
	pushMerge = group user/ovmarschen
[access "refs/tags/*"]
	push = +force group user/ovmarschen
	pushTag = group user/ovmarschen
	pushSignedTag = group user/ovmarschen
